.wrapper {
  height: 100vh;
  padding: 10px 16px;
  background: radial-gradient(
    54.99% 54.99% at 50.13% 45.01%,
    #1067c6 0%,
    #54a0ff 100%
  );
}

.header {
  display: flex;
  gap: 24px;
  align-items: center;
}

.canvasWrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(45% - 60px);
}
.canvas {
  width: 100%;
  height: 100%;
}

.recorderBtn {
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #54a0ff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 46px);
  bottom: 40px;
}
