.wrapper {
  padding: 70px 16px;
  height: 100vh;
}

.header {
  padding: 24px 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #f1f9fe;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.card:last-child {
  margin-bottom: 0;
}

.cardDesc {
  color: #78787b;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 0.5rem;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
}
